$background-primary: #FCCC9F;
$background-secondary: #F8F1EA;
$background-tertiary: #DF894A;

$background-fields: #E3E3E3;
$background-btn-order: #F4A023;

$paddingX-page: 10px;

$headerHeight: 100px;
$footerHeight: 100px;