@use "../abstract/" as *;

button {
    cursor: pointer;
    border-radius: 5px;
}

button.order {
    background-color: $background-btn-order;
}

button.login {
    background-color: forestgreen;
}

.unavailable-button {
    cursor: default !important;
}